* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 0px;
    letter-spacing: 0px;
}

/* Built-ins */

a {
    color: deepskyblue;
}

body {
    margin: 0px;
    background-color: #222;
}


line {
    color: #111;
    margin-top: 20px;
    margin-left: 0px;
    height: 10px;
    width: 1px;
    border: rgba(168, 168, 168, 0.6) 0.5px solid;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;

    margin: 0px;
    margin-right: 10px;

}

h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
}

h5 { 
    color: rgb(223, 223, 223);
    margin-top: -10px;
    font-weight: 400;
}

p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: justify;
    padding-bottom: 8px;
    width: 400px;

    margin-bottom: 20px;
}

/* IDS */

#button {
    padding: 8px 10px;
    border-radius: 6px;

    color: rgb(0, 0, 0);
    text-decoration: none;
    border: rgb(0, 0, 0) 2px solid;
    transition: 250ms;
    white-space: nowrap;
}

#button:hover {
    transition: 250ms;
    color: rgb(61, 148, 255);
    border: rgb(61, 148, 255) 2px solid;
}

#background {
    background-color: #222;
}

/* Classes */

.logo {
    height: 40px;
    width: 40px;
    padding: 0px;
}

.card-view {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px 50px 40px 50px; /* top right bottom left */
    border-bottom: rgba(168, 168, 168, 0.6) 1px solid;
    margin: 0px 0px;
    border-radius: 0px 0px;
}

.top-card {
    border-radius: 6px 6px 0px 0px;
}

.bottom-card {
    border-bottom: none;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 80px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;


    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.placeholder-box {
    background-color: rgba(223, 223, 223, 0.638);
    height: 300px;
    width: 400px;

    object-fit: cover;

    border-radius: 4px;
    margin: 10px 0px;
    border: none;
}

.text-block {
    
}

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    margin: 16px 0px;
}

.sample-card {
    display: none;
    background-color: white;
    color: white;
    height: 300px;
    width: 200px;
    border-radius: 6px;
    margin: 100px 10px 0px 10px;

}


@media screen and (max-width: 450px) {
    p {
        font-size: 16px;
        width: 100%;
    }

    .container {
        flex-direction: column;
        height: fit-content;
    }

    .text-block {
        transition: 250ms;
    }

    .card-view {
        border-radius: 0px;
        padding: 30px 30px 40px 30px;
        border-left: none;
        border-right: none;
        max-width: 100%;
    }

    .sample-card {
        visibility:collapse;
        display: none;
    }

    .placeholder-box {
        width: 100%;
    }

    .card-block {
        flex-direction: column;
    }


    #button {
        font-size: 16px;
    }



}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}