* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
}

body {
	background: linear-gradient(-45deg,#000000, #141414, #1f1f1f);
	background-size: 500% 500%;
	animation: gradient 160s ease infinite;
}

a {
    color:deepskyblue;
}

p {
    color: rgb(224, 224, 224);
    font-size: 20px;
}

h1 {
    color: white;
    font-size: 48px;

    margin: 0px;
    margin-bottom: -10px;
}

h2 {
    color: white;
    padding-top: 30px;
}

.mem-block {
    padding-top: 14px;
    padding-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.text-block {
    width: 90%;
}


@media screen and (max-width: 900px) {
    .container {
        height: 120vh;
    }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}